.app-container {
  position: absolute;
  top: 28%;
  z-index: -2;
}

.content {
  flex: 1;
}

.box-img {
  height: 287px;
  width: 100px;
  max-width: 350px;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 5px;
}

.place {
  font-weight: bold;
}
.bi-star-fill {
  font-size: 12px;
}

.rating {
  display: flex;
  justify-content: space-between;
}
.side {
  color: grey;
}

.container img,
.container p {
  margin: 0;
  padding: 1px 0;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 100;
}

#period {
  font-size: 14px;
  color: grey;
}

.container {
  margin: 10px;
  position: relative;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
}
.heart {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1;
  font-size: 20px;
}
.varad {
  display: flex;
  justify-content: space-between;
}
.each-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-bottom: 10px;
  gap: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1550px) {
  .each-card {
    grid-template-columns: repeat(4, 1fr);
    margin: 2.5rem;
  }

  .box-img {
    height: 298px;
    width: 328px;
    max-width: 100%;
  }
}

@media (max-width: 1500px) {
  .each-card {
    grid-template-columns: repeat(4, 1fr);
  }

  .box-img {
    height: 280px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1450px) {
  .each-card {
    grid-template-columns: repeat(4, 1fr);
  }

  .box-img {
    height: 280px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1400px) {
  .each-card {
    grid-template-columns: repeat(4, 1fr);
  }

  .box-img {
    height: 265px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1350px) {
  .each-card {
    grid-template-columns: repeat(4, 1fr);
  }

  .box-img {
    height: 260px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1300px) {
  .each-card {
    grid-template-columns: repeat(4, 1fr);
  }

  .box-img {
    height: 250px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1270px) {
  .each-card {
    grid-template-columns: repeat(4, 1fr);
  }

  .box-img {
    height: 240px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .each-card {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5rem;
  }

  .box-img {
    height: 230px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1150px) {
  .each-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .box-img {
    height: 275px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1100px) {
  .each-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .box-img {
    height: 270px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1050px) {
  .each-card {
    grid-template-columns: repeat(3, 1fr);
    z-index: 10;
  }

  .box-img {
    height: 260px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .each-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .box-img {
    height: 245px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 955px) {
  .each-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .box-img {
    height: 235px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .each-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .box-img {
    height: 220px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 875px) {
  .each-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .box-img {
    height: 210px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 850px) {
  .each-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .box-img {
    height: 200px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .each-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .box-img {
    height: 297px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 750px) {
  .each-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .box-img {
    height: 270px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .each-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .box-img {
    height: 250px;
    width: 300px;
    max-width: 100%;
  }
}

@media (max-width: 650px) {
  .each-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .box-img {
    height: 230px;
    width: 300px;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .each-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .box-img {
    height: 210px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .each-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .box-img {
    height: 190px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .each-card {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25px;
  }

  .box-img {
    height: 340px;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 450px) {
  .each-card {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25px;
  }

  .box-img {
    height: 300px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .each-card {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 40px;
  }

  .box-img {
    height: 260px;
    width: 100%;
    max-width: 100%;
  }
  .container{
    margin-left: 0px;
  }
}
