/* body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  margin: 0;
  background-color: #374954;
  text-align: center;
} */

.heading23{
    font-size: 20px;
    font-style: arial;
    /* margin: 5px 0; */
    /* color:  #A855F7; */
  }
  .heading223{
   font-size: 34px;
  }
  
  
  .cover23 {
    /* border: 5px solid grey; */
    /* padding: 20px; */
    text-align: center;
    background-color:white; 
    border:3px solid #A855F7;
    border-radius: 16px;
    /* border-radius: 6px; */
  }
  
  .cont23 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 107px; 
    /* Ensure full viewport height */
    
  }
  
 .button23 {
    display: inline-block;
    background-color:rgba(170, 168, 168, 0.566);
    border-radius: 6px;
    width: 60px;
    margin: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .button23:hover
  {
    background-color:grey;
  }
  
  /* .button23:hover {
    background-color: #fd577e;
  } */
  
  /* Responsive styling */
  /* @media (max-width: 600px) {
    body {
      padding: 20px;
    }
  
    .heading23{
      font-size: 30px;
    }
    .heading23a
    {
      font-size:20px;
    }
  
    .button23{
      width: 50px;
      font-size: 25px;
    }
  
    .cover23 {
      padding: 10px;
    }
  } */
  