.type {
  font-size: x-large;
  margin-left: 32px;
  margin-top: 20px;
}

.space {
  margin-left: 33px;
  font-size: 17px;
}

.chart {
  position: sticky;
  height: 515px;
  width: 382px;
  padding: 1rem;
  margin: 1rem 0px 0px 0px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid gainsboro;
  background-color: white;
  right: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-bottom: 50px;
}

.information {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#price {
  font-size: larger;
}

.bookbutton {
  display: block;
  border-radius: 10px;
  background-color: #a855f7;
  width: 325px;
  height: 50px;
  font-size: 15px;
  margin: 20px auto 0 auto; /* Centering the button */
}

.sticky-chart {
  position: sticky;
  top: 50px;
  z-index: 10;
}

@media (max-width: 1300px) {
  .address {
    font-size: large;
    font-weight: 500;
  }

  .chart {
    position: relative;
    right: 5%;
    top: 0%;
  }

  /* Adjust button width for smaller screens */
  .bookbutton {
    width: 100%; /* Make the button full width on smaller screens */
  }
}

@media (max-width: 1200px) {
  .chart {
    right: 1%; /* Move chart further to the right */
  }
}

@media (max-width: 1080px) {
  .chart {
    display: none; /* Increase the margin-right to push chart further */
  }
  .information {
    display: flex;
    justify-content: center;
  }
}
