
/* Mapp.css */
.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    margin-top: 7rem;
  }
  
  .map-container {
    width: 1000px;
    height: 500px;
    z-index: 49;
  }
  
  .rounded-xl {
    border-radius: 0rem;
  }
  
  @media (max-width: 768px) {
    .outer-container {
      margin-top: 0.75rem;
      height: auto;
      padding: 1rem;
      background-color: white;
    }
  
    .map-container {
      width: 100%;
      height: 60vw; /* Maintain aspect ratio */
      z-index: 0;
    }
  }
  

