.searchkar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.any_image {
  width: 40px;
  height: 30px;
  margin-left: 1px;
}
.any_input {
  padding: 10x;
  border-radius: 15px;
  outline: none;

  box-shadow: 0 -1.2px 1.2px -1.2px lightgrey, 0 4px 6px -1px lightgrey,
    -1.2px 0 2px -1px lightgrey, 1.2px 0 2px -1px lightgrey;

  background-color: white;
}

.small-searchbar {
  font-size: 14px;
  padding: 6px 10px;
  width: 230px;
}

.small-searchbar-button {
  font-size: 15px;
  padding: 6px 10px;
}
