.cont21
{
  display:flex;
  justify-content: center;
  align-items: center;
  height:90px;
  position:relative;
  width: 200px;
  background-color:white;
  left:-18px;
  top:-18px;
  border-radius: 10px;
}
.calender21
{
  padding:5px;
  /* border:3px solid  #A855F7; */
  border-radius: 16px;
  cursor:pointer;
  box-shadow: 
  0 -1.2px 1.2px -1.2px rgba(0, 0, 0, 0.1),   /* Top shadow */
  0 4px 6px -1px rgba(0, 0, 0, 0.1),    /* Bottom shadow */
  -1.2px 0 2px -1px rgba(0, 0, 0, 0.1),   /* Left shadow */
  1.2px 0 2px -1px rgba(0, 0, 0, 0.1);    /* Right shadow */

  /* 0 -1.2px 1.2px -1.2px lightgrey,   /* Top shadow */
  /* 0 4px 6px -1px lightgrey,    /* Bottom shadow */
  /* -1.2px 0 2px -1px lightgrey,   /* Left shadow */
  /* 1.2px 0 2px -1px lightgrey;  */ 
}
.dateRange21{
  position:absolute;
  top:120px;
}